#navbar {
  list-style-type: none;
  position: absolute;
  top:0; 
  right: 0; 
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  float: left;

}

li#navbar-list {
  margin-left: 10%;
  margin-right: 10%;
  float: left;
}

#navbar li a {
  display: block;
  color: #000;
  padding: 8px 4px;
  text-decoration: none;
}

/* Change the link color on hover */
#navbar li a:hover {
  background-color: #6cc1c4;
  color: white;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.split {
  height: 93.9%;
  width: 50%;
  /* position: fixed; */
  position: absolute;
  z-index: -1;
  top: 4%;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #b4f6fa;;
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
}

.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Hcentered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

#events li {
	 list-style-type: none;
  	margin: 0;
  	padding: 100;
  	width: 600px;
  	background-color: #ADD8E6;
  	border-bottom: 1px solid black;
    text-align: left;
    border-radius: 20px;

}

.single_event img {
   height: 80px !important; 
   width: auto !important;
   vertical-align: middle;
   padding: 20px;
}

html *
{
   font-size: 1em;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
 	background-color: #b4f6fa;
}

div#login-inputs {
    position:absolute;
    top:25%;
    right:0;
    left:0;
}

input#password-input {
    margin-top: 1%;
    margin-bottom: 1%;
}

img#felp-logo {
    margin-bottom: 1%;
}

label#invalid-inputs {
    background-color: #f5817f;
}

input#first-name-input {
  margin-bottom: 1%;
}

input#last-name-input {
  margin-bottom: 1%;
}

input#confirm-password-input {
  margin-bottom: 1%;
}

input#tos-checkbox {
  margin-bottom: 1%;
}

a#invalid-inputs {
  background-color: #f5817f;
}

div#customer-profile-page {
  position:absolute;
  top:35%;
  right:0;
  left:0;
  text-align: center;
}

label#customer-name-profile-page {
  font-size: 60pt;
}

label#customer-email-profile-page {
  font-size: 30pt;
}

div#new-favorite-organization-div {
  position:absolute;
  top:5%;
  right:0;
  left:0;
  margin-left: 5%
}

li#event-holder { 
  padding: 10px;
  text-align: left;
  background-color: #6cc1c4;
}

li#event-holder:hover { 
  transition: all .2s ease-in-out;
  transform: scale(1.05);
}

img#transparent-logo{
  position: absolute;
  bottom: 0.5%;
  right: 1%;
}

input#text-input {
  border: 2px #6cc1c4;
  border-radius: 4px;
  margin-bottom: 1%;
  width: 20%;
  height: 30px;
}

button#buttons {
  border: 2px #6cc1c4;
  background: #6cc1c4;
  border-radius: 4px; 
  width: 7%;
  height: 30px;

  transition: all .2s ease-in-out;
  transform: scale(1.05);
}