#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #f1f1f1;
  float: right;

}

#navbar li a {
  display: block;
  color: #000;
  padding: 8px 4px;
  text-decoration: none;
}

/* Change the link color on hover */
#navbar li a:hover {
  background-color: #555;
  color: white;
}

.active {
  background-color: #4CAF50;
  color: white;
}


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #b4f6fa;;
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#events li {
	 list-style-type: none;
  	margin: 0;
  	padding: 100;
  	width: 600px;
  	background-color: #ADD8E6;
  	border-bottom: 1px solid black;
    text-align: left;

}

.single_event img {
   height: 80px !important; 
   width: auto !important;
   vertical-align: middle;
   padding: 20px;
}

html *
{
   font-size: 1em;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
 	background-color: #b4f6fa;
}

div#login-inputs {
    position:absolute;
    top:25%;
    right:0;
    left:0;
}

input#password-input {
    margin-top: 1%;
    margin-bottom: 1%;
}

img#felp-logo {
    margin-bottom: 1%;
}

label#invalid-inputs {
    background-color: #f5817f;
}

input#first-name-input {
  margin-bottom: 1%;
}

input#last-name-input {
  margin-bottom: 1%;
}

input#confirm-password-input {
  margin-bottom: 1%;
}

input#tos-checkbox {
  margin-bottom: 1%;
}

a#invalid-inputs {
  background-color: #f5817f;
}