<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
    <title>Welcome to Felp!</title>


		<div class="split left">

 			 <div class="centered">
    			<ul id="events">
    				Welcome to Felp!
    			<li id ="single_event"> 
    				Test
    			</li>

    			<li id ="single_event"> 
    				Test
    			</li>

    			<li id ="single_event"> 
    				Test
    			</li>

    			<li id ="single_event"> 
    				Test
    			</li>

    			<li id ="single_event"> 
    				Test
    			</li>
    		</ul>
  			</div>
		</div>

		<div class="split right">

			<ul id="navbar">
  			<li><a href="">Home</a></li>
  			<li><a href="profile.html">Profile</a></li>
  			<li><a href="login.html">Login</a></li>
  			<li><a href="about.html">About</a></li>
			</ul>

  			<div class="centered">
    		<h2>John Doe</h2>
    		<p>Some text here too.</p>
  			</div>
		</div>


    
</html>