<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
	<ul id="navbar">
		<li id='navbar-list'><a href="/" id=navbar-link>Home</a></li>
		{% if current_user.is_authenticated %}
		<li id='navbar-list'><a href="/customerProfile" id=navbar-link>Profile</a></li>
		<li id='navbar-list'><a href="{{ url_for('logout') }}">Log Out</a></li>
		{% endif %}
		{% if not current_user.is_authenticated %}
		<li id='navbar-list'><a href="/login" id=navbar-link>Login</a></li>
		<li id='navbar-list'><a href="/newAccount" id=navbar-link>New Account</a></li>
		{% endif %}
	</ul>
	{% block content %} {% endblock content %}
</body>
</html>