{% extends "layout.html" %}
{% block content %}
<body>
  <div id='login-inputs' style="text-align:center; vertical-align:middle">
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <img src='../static/Felp.png' id='felp-logo'/><br>
    
    <form action="{{ url_for('login2') }}" method="POST">  
      <input type='text' name="email" placeholder="Email"/><br>
      <input type='password' name="password" placeholder="Password"/><br>
      <button type='submit'>Login</button>
    </form>
  </div>
</body>
{% endblock content %}