{% extends "layout.html" %}
{% block content %}
<body>
  <div id='login-inputs' style="text-align:center; vertical-align:middle">
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <img src='../static/Felp.png' id='felp-logo'/><br>
    
    <form action="{{ url_for('login2') }}" method="POST">  
      <input type='text' name="email" placeholder="Email" id="text-input"/><br>
      <input type='password' name="password" placeholder="Password" id="text-input"/><br>
      <button type='submit' id='buttons'>Login</button>
    </form>
    <p>Don't have an account? Create one 
          <a href="newAccount">here!</a>
    </p>
    <label id='invalid-inputs'></label>
  </div>

  <script src="../static/login.js"></script>
</body>
{% endblock content %}